html, body {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Futura PT";
}
.ovh {
    overflow: hidden;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
button {
    border: none;
    outline: none;
    background: none;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: initial;
}
input,
textarea {
    outline: none;
    border: none;
}
textarea {
    resize: none;
}
.mobile {
    display: none;
}
@media (max-width: 768px) {
    .mobile {
        display: block;
    }
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }
}

.container_1280 {
    max-width: 1280px;
    margin: auto;
}
.container_1540 {
    max-width: 1540px;
    margin: auto;
}
@media (max-width: 1650px) {
    .container_1540 {
        padding: 0 30px;
    }
}
@media (max-width: 768px) {
    .container_1540 {
        padding: 0 20px;
    }
}

.header {
    border-bottom: 1px solid #dfdfdf;
}
.header.fix .header__top,
.header.fix .header__bottom,
.header.fix .header__middle-lang {
    display: none;
}
.header__middle .menu {
    display: none;
}
.header.fix .header__middle .menu {
    display: flex;
}
.header.fix .menu__link:hover {
    color: #e31870;
    background-color: #fff;
}
.header.fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.header__top {
    padding: 5px 0;
    background-color: #efe9e4;
    text-align: center;
    font-size: 15px;
    line-height: normal;
}
.header__middle {
    background-color: #eb3986;
    padding: 14px 0;
}
.header__middle-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width: 1440px) {
    .header__middle-content {
        padding: 0 20px;
    }
}
.header__middle-content_mobile {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__middle-content_mobile svg {
    cursor: pointer;
}
.header__middle-lang {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    line-height: normal;
}
@media (max-width: 768px) {
    .header__middle-lang {
        display: none;
    }
}

.header__middle-lang::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.44 5.26833L6.78667 9.615C7.3 10.1283 8.14 10.1283 8.65333 9.615L13 5.26833' stroke='white' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 6px;
}
.header__middle-logo img {
    max-width: 300px;
    max-height: 38px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .header__middle-logo img {
        max-width: 156px;
        max-height: 25px;
    }
}

.header__middle-icons {
    display: flex;
    align-items: center;
    gap: 12px;
}
.header__middle-icons svg {
    cursor: pointer;
}
.header__middle-icons img {
    width: 18px;
    max-width: 20px;
    cursor: pointer;
}
.header__bottom {
    padding: 12px 0;
}
@media (max-width: 768px) {
    .header__bottom {
        display: none;
    }
}

.menu {
    display: flex;
    justify-content: center;
    gap: 24px;
}
@media (max-width: 1100px) {
    .menu {
        gap: 10px;
    }
}
@media (max-width: 992px) {
    .menu {
        display: none !important;
    }
}

.menu__item {
}
.menu__link {
    font-size: 16px;
    line-height: normal;
    color: #191919;
    border: 1px solid #eb3986;
    border-radius: 40px;
    padding: 4px 12px;
    text-transform: capitalize;
    display: block;
    background-color: #fff;
}
.menu__link:hover {
    background: #eb3986;
    color: #fff;
}
.burger {
    display: none;
}
@media (max-width: 768px) {
    .burger {
        display: block;
    }
    .user {
        display: none;
    }
}

.breadcrumbs {
    display: flex;
    padding: 16px 0;
    gap: 5px;
}
.breadcrumbs__item:hover a {
    text-decoration: underline;
}
.breadcrumbs__item {
    display: flex;
    align-items: center;
    gap: 5px;
}
.breadcrumbs__item:not(:first-child)::before {
    content: "/";
}
.slick-slide {
    text-align: center;
    color: #419be0;
    background: white;
    margin: 5px 0;
    width: 100% !important;
}
.slider-item {
    max-width: 81px;
    position: relative;
    overflow: hidden;
    height: 100%;
}
@media (max-width: 1650px) {
    .slider-item {
        height: 51vw;
    }
}
@media (max-width: 1024px) {
    .slider-item {
        max-width: calc(100vw - 60px);
        height: auto;
    }
}
@media (max-width: 768px) {
    .slider-item {
        max-width: calc(100vw - 40px);
        height: auto;
    }
}
.owl-stage {
    display: flex;
}
.owl-nav {
    display: none;
}
.owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
@media(max-width: 768px) {
    .owl-dot {
        padding: 0 4px;
    }
}

.owl-dot span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    display: block;
}
.owl-dot.active span {
    background-color: #e31870;
}
.slider-item:hover .slick-arrow {
}
.slider-item img {
    width: 100%;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .owl-carousel .owl-item img,
    .slider-item img {
        width: calc(100vw - 60px);
    }
}
@media (max-width: 768px) {
    .owl-carousel .owl-item img,
    .slider-item img {
        width: calc(100vw - 40px);
    }
}

.slider-item:hover .slick-arrow,
.slick-arrow {
    position: absolute;
    left: 0;
    background: #00000090;
    width: 100%;
    height: 25px;
    z-index: 5;
}
.slick-prev::before {
    transform: rotate(180deg);
}
.slick-prev::before,
.slick-next::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.44 5.26833L6.78667 9.615C7.3 10.1283 8.14 10.1283 8.65333 9.615L13 5.26833' stroke='white' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
}
.slick-prev {
    top: 0;
    transform: translateY(-100%);
    transition: 0.3s;
}
.slider-item:hover .slick-prev {
    transform: translateY(0);
}
.slick-next {
    top: calc(100% - 10px);
    transform: translateY(100%);
    transition: 0.3s;
}
.slider-item:hover .slick-next {
    transform: translateY(-15px);
}
.slider-item-img {
    position: relative;
    height: 100%;
}
@media (max-width: 1024px) {
    .slider-item-img {
        width: max-content;
    }
}

.slider-item-img.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #eb3986;
    display: block;
}
.sectionProduct__sliders {
    display: flex;
    gap: 30px;
    align-items: center;
    max-height: 844px;
}
@media (max-width: 1650px) {
    .sectionProduct__sliders {
        align-items: flex-start;
    }
}
@media (max-width: 1024px) {
    .sectionProduct__sliders {
        max-height: 100%;
    }
}

.main__img {
    max-width: 844px;
    /* max-height: 844px; */
}
@media (max-width: 1024px) {
    .main__img {
        display: none;
    }
}

.sectionProduct {
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    gap: 30px;
}
@media (max-width: 1570px) {
    .sectionProduct {
        grid-template-columns: 1.2fr 1fr;
    }
}
@media (max-width: 1024px) {
    .sectionProduct {
        grid-template-columns: 1fr;
        position: relative;
    }
}

.productInfo {
}
@media (max-width: 1024px) {
    .productInfo {
        /* margin-top: 50px; */
    }
}

.productInfo__heading {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.productInfo__heading svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .productInfo__heading svg {
        position: absolute;
        top: 15px;
        right: 30px;
        padding: 3px;
        background-color: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
}

.productInfo__heading svg.active path {
    fill: #eb3986;
    stroke: #eb3986;
}
.productInfo__heading svg:hover path {
    fill: #eb3986;
    stroke: #eb3986;
}
.productInfo__title {
    font-size: 32px;
    line-height: normal;
    color: #212529;
    font-weight: 500;
    font-family: "Futura PT Demi";
    padding-right: 30px;
}
@media (max-width: 768px) {
    .productInfo__title {
        font-size: 22px;
    }
}

.productInfo__rating {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.trustpilotBlock {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 16px;
}
.trustpilotBlock span {
    font-size: 16px;
    color: #1B281D;
}
.trustpilot {
    
    max-width: 80px;
    max-height: 20px;
}
.stars {
    display: flex;
    align-items: center;
    gap: 2px;
}
.star {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4987 15L5.13142 18.09L6.34747 11.545L1.19531 6.91L8.31462 5.955L11.4987 0L14.6828 5.955L21.8021 6.91L16.65 11.545L17.866 18.09L11.4987 15Z' fill='%23000'/%3E%3C/svg%3E");
    width: 20px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
.productInfo__rating-result {
    border-bottom: 1px solid #191919;
    cursor: pointer;
}
.productInfo__price {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.productInfo__price .vat {
    font-size: 12px;
    line-height: normal;
    color: #212529;
    font-family: "Futura PT";
}
.price__old {
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 20px;
    line-height: normal;
    font-family: "Futura PT Demi";
}
.price__new {
    font-size: 24px;
    line-height: normal;
    display: flex;
    align-items: baseline;
    font-family: "Futura PT Demi";
    gap: 8px;
    color: #eb3986;
}
.productInfo__dates {
    margin-top: 16px;
    font-size: 20px;
}
.productInfo__gift {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #f6f0ef;
    padding: 16px 20px;
    font-size: 14px;
    line-height: normal;
    margin-top: 16px;
    font-family: "Futura PT Demi";
}
.productInfo__gift img {
    max-width: 24px;
}

.product__tabs-info {
    margin-top: 0;
    display: none;
    padding: 0 0 10px;
}
.product__tabs-item.active + .product__tabs-info {
    /* display: block !important; */
}
.product__tabs-item:first-child + .product__tabs-info {
    display: block;
}
.product__tabs-info.active {
    /* display: block; */
}
@media (max-width: 768px) {
    .product__tabs-info {
        margin-top: 0;
    }
}
.product__tabs-info table {
    border: 1px solid #ddd;
    width: 100%;
}
.product__tabs-info table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.product__tabs-info table td:last-child {
    text-align: center;
}
.product__tabs-info__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 28.96px;
    color: #4f4f4f;
}
.product__tabs {
    display: flex;
    flex-direction: column;
    column-gap: 44px;
    margin-top: 20px;
    overflow-x: auto;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}
@media (max-width: 768px) {
    .product__tabs {
        column-gap: 20px;
        margin-top: 43px;
        overflow-x: auto;
        width: 100%;
    }
}

.product__tabs-item {
    font-size: 18px;
    line-height: 24.2px;
    color: #000;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    /* font-family: "Futura PT Demi"; */
}
.product__tabs-item::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewBox='0 0 14 8' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 7.75L0.75 1.5L1.625 0.625L7 6L12.375 0.625L13.25 1.5L7 7.75Z' fill='%23000'/%3E%3C/svg%3E");
    width: 18px;
    height: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 15px;
    transition: 0.5s;
}
.product__tabs-item:not(:first-child) {
    border-top: 1px solid #f0f0f0;
}
.product__tabs-info:last-child,
.product__tabs-item:last-child {
    border-bottom: 1px solid #f0f0f0;
}
.product__tabs-item.open + .product__tabs-info + .product__tabs-item {
    border-top: none;
}
.product__tabs-info:last-child {
    border-bottom: 0;
}
@media (max-width: 768px) {
    .product__tabs-item {
        font-size: 20px;
        line-height: 19px;
    }
    .product__tabs-item.open {
        border-bottom: 1px solid #f0f0f0;
    }
}
.product__tabs-item.open + .product__tabs-info:last-child {
    margin-bottom: -11px;
}
.product__tabs-item.active::after {
    /* transform: rotate(180deg); */
    transition: 0.5s;
}
.product__tabs-item.active {
    color: #18181a;
    /* border-bottom: 1px solid #000; */
}
.product__tabs-info__char {
}
.product__tabs-info__char table {
    border-collapse: collapse;
    max-width: 609px;
    width: 100%;
}
.product__tabs-info__char table td {
    border: 1px solid #e6e6e6;
    padding: 15px 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #4f4f4f;
}
.product__tabs-info__char table td:first-child {
    color: #18181a;
    font-weight: 500;
}
.text_descr {
    font-weight: 400;
    font-family: 'Futura PT Book';
    
}
.product__tabs b {
    font-weight: 400;
    font-family: "Futura PT Demi";
}
.order {
    text-transform: uppercase;
    font-size: 16px;
    line-height: normal;
    background-color: #e31870;
    border-radius: 50px;
    font-family: "Futura PT Demi";
    max-width: 247px;
    width: 100%;
    padding: 14px 0;
    color: #fff;
    cursor: pointer;
}
@media(max-width: 576px) {
    .order {
        padding: 12px 0;
    }
}

.productInfo__delivery {
    margin-top: 24px;
    font-size: 16px;
    font-family: "Futura PT Demi";
    line-height: normal;
    text-decoration: underline;
    cursor: pointer;
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 5;
    display: none;
}
.popup {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    height: max-content;
    margin: auto;
    z-index: 6;
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s;
    z-index: 6;
    pointer-events: none;
    max-width: 468px;
    background-color: #fff;
}
.popup.open {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
}
.popup__delivery {
}
.popup__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #e9ecef;
}
.popup__content {
    padding: 16px;
}
.popup__title {
    font-size: 20px;
    line-height: normal;
    font-family: "Futura PT Demi";
    color: #212529;
}
.popup__close {
    max-width: 15px;
    opacity: 0.8;
    cursor: pointer;
}
.popup__close:hover {
    opacity: 1;
}
.popup__subtitle {
    font-size: 13px;
    line-height: normal;
    color: #212529;
    margin: 0 0 8px;
    /* font-family: 'HelveticaNeueCyrMedium', serif; */
}
.popup__desc {
    margin: 0 0 16px;
    font-size: 13px;
    line-height: normal;
    color: #212529;
    opacity: 0.8;
    /* font-family: "HelveticaNeueCyr", serif; */
}
.popup__desc a {
    color: #3f3fff;
}

.productInfo__count {
    display: flex;
    align-items: center;
    gap: 16px;
    display: none;
}
.productInfo__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    gap: 24px;
}
@media(max-width: 1024px) {
    .productInfo__action {
        /* position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        width: -webkit-fill-available;
        padding: 10px 60px;
        background-color: #fff;
        z-index: 5;
        border-top: 1px solid #ccc; */
    }
}

.productInfo__action.fixing {
    display: none;
}
@media(max-width: 1024px) {
    .productInfo__action.fixing {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        width: -webkit-fill-available;
        padding: 10px 60px;
        background-color: #fff;
        z-index: 5;
        border-top: 1px solid #ccc;
        display: flex;
        justify-content: center;
    }
}
@media(max-width: 768px) {
    .productInfo__action.fixing {
        padding: 10px 20px;
    }
}
.productInfo__count div {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b2b2b;
    border: 1px solid #191919;
    cursor: pointer;
}
@media(max-width: 576px) {
    .productInfo__count div {
        width: 35px;
        height: 35px;
    }
}

.productInfo__count div:hover {
    filter: contrast(0.9);
}
.count {
    font-size: 20px;
}
.plus,
.minus {
    width: 24px;
    height: 24px;
    background-size: contain;
}
.minus {
    background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' fill='white'/%3E%3Cpath d='M6 12H18' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.plus {
    background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' fill='white'/%3E%3Cpath d='M12 6V18' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 12H18' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.productInfo__main_img {
    margin-top: 24px;
}

.sectionReviews {
    padding: 20px 30px;
    /* width: 80%; */
    margin: 40px auto 0;
    border: 1px solid #797676;
}
@media(max-width: 768px) {
    .sectionReviews {
        padding: 20px;
    }
}

.sectionReviews__title {
    font-family: "Futura PT Demi";
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.04688rem;
    color: #191919;
}
.sectionReviews__quotes {
    max-width: 38px;
    margin: 40px auto 0;
}
@media(max-width: 768px) {
    .sectionReviews__quotes {
        margin: 20px auto 0;
    }
}

.main__review {
    font-style: italic;
    font-size: 19px;
    font-family: "Futura PT Demi";
    text-align: center;
    margin-top: 30px;
}
.main__review-author {
    text-transform: uppercase;
    color: #eb3986;
    text-align: center;
}

.sectionReviews__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
@media(max-width: 992px) {
    .sectionReviews__action {
        flex-direction: column;
        gap: 20px;
    }
}

.sectionReviews__group {
    display: flex;
    align-items: center;
    gap: 16px;
}
.sectionReviews__all-rating {
    font-size: 46px;
    color: #2b2b2b;
}
@media(max-width: 768px) {
    .sectionReviews__all-rating {
        font-size: 32px;
    }
}

.sectionReviews__all-rating .stars {
}
.sectionReviews__all-rating .star {
}
.sectionReviews__all-revs {
}
.sectionReviews__btns {
    display: flex;
    align-items: center;
    gap: 25px;
}
@media(max-width: 576px) {
    .sectionReviews__btns {
        gap: 10px;
    }
}

.btn-dark {
    padding: 10px 40px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Futura PT Demi";
    width: max-content;
    max-width: 200px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    border: 1px solid transparent;
}
@media(max-width: 576px) {
    .btn-dark {
        padding: 10px;
    }
}

.btn-dark:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
.addRev__stars svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.addRev__stars svg:hover path {
    fill: #000;
}
.addRev {
    padding-top: 25px;
    border-top: 1px solid #e3e3e3;
    margin-top: 50px;
    display: none;
}
.addRev__title {
    font-size: 15px;
    line-height: normal;
    color: #6a6c77;
    text-transform: uppercase;
}
.addRev__small_text {
    margin-top: 15px;
    font-size: 14px;
    line-height: normal;
    color: #2b2b2b;
    display: flex;
    align-items: flex-start;
}
.addRev__medium_text {
    font-size: 15px;
    line-height: normal;
    color: #6a6c77;
    margin-top: 15px;
}
.label::before {
    content: "*";
    color: red;
    font-size: 15px;
}
.addRev__stars {
    margin-top: 15px;
}
.addRev input,
.addRev textarea {
    width: -webkit-fill-available;
    border: 1px solid #000;
    margin-top: 15px;
    padding: 12px;
}

.user__info {
    max-width: 1035px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
    gap: 25px;
}
@media(max-width: 576px) {
    .user__info {
        flex-direction: column;
        gap: 15px;
    }
}

.user__info-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
@media(max-width: 576px) {
    .user__info-group {
        gap: 0;
    }
}

.form-send {
    margin-top: 15px;
    margin-right: 0;
    margin-left: auto;
    font-size: 15px;
    text-transform: uppercase;
    line-height: normal;
    color: #2b2b2b;
    padding: 10px 16px;
    border: 2px solid #eb3986;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
    font-family: "Futura PT Demi";
    display: block;
}
.form-send:hover {
    background-color: #eb3986;
}
.signature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f9f3eb;
    padding: 16px 0;
    margin-top: 10px;
}
.signature.toped {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f9f3eb;
    padding: 16px 0;
    margin-top: 50px;
}
.signature__btn {
    text-transform: uppercase;
    font-size: 15px;
    line-height: normal;
    cursor: pointer;
    color: #000;
}
.signature__btn.active {
    font-family: "Futura PT Demi";
    border-bottom: 1px solid #000;
}
.beTheFirst {
    display: none;
    color: #fff;
    background-color: #6a6c77;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 50px auto 10px;
    width: max-content;
}
.popup__review .popup__subtitle,
.popup__ask .popup__subtitle {
    font-size: 30px;
    text-align: center;
}
.error-message {
    color: red;
}
.error {
    border: 1px solid red !important;
}
.reviews__content__scroll {
    overflow-x: auto;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 130px;
    row-gap: 40px;
    margin-top: 50px;
}
@media (max-width: 992px) {
    .reviews__content__scroll {
        column-gap: 70px;
    }
}
@media (max-width: 768px) {
    .reviews__content__scroll {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
}

.reviews {
    margin-top: 100px;
    margin-bottom: 140px;
}
@media (max-width: 768px) {
    .reviews {
        margin: 47px 0 70px;
    }
}

.reviews__content {
}
.reviews__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
@media (max-width: 768px) {
    .reviews__heading {
        margin-bottom: 0;
    }
}

.reviews__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    color: #18181a;
}
.reviews__add {
    padding: 11px;
    border-radius: 8px;
    max-width: 239px;
    width: 100%;
    border: 1px solid #073f3be6;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    color: #18181a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media (max-width: 768px) {
    .reviews__add {
        margin-top: 36px;
        max-width: 100%;
        text-align: center;
        width: max-content;
        margin: auto;
    }
    .reviews__add.desktop {
        display: none;
    }
}

.reviews__item {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}
@media (max-width: 768px) {
    .reviews__item {
        flex-direction: column-reverse;
        row-gap: 16px;
        position: relative;
        margin-top: 0;
    }
    .reviews__item:first-child {
        margin-top: 12px;
    }
}

.reviews__left {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
@media (max-width: 768px) {
    .reviews__left {
        flex-direction: column-reverse;
    }
}

.reviews__info {
    display: flex;
    align-items: flex-start;
    column-gap: 14px;
}
.reviews__avatar {
    /* width: 46px;
    height: 46px; */
    display: none;
}
.reviews__group {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.reviews__name {
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    color: #212121;
}
.reviews__rating {
    display: flex;
    column-gap: 3px;
}
@media (max-width: 768px) {
    .reviews__rating {
        position: absolute;
        top: 0;
        right: 5px;
    }
}

.reviews__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28.96px;
    color: #4f4f4f;
    font-family: 'Futura PT Book';
}
.reviews__date {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #b0a5a5;
    margin-right: 5px;
}
.reviews__add.mobile {
    display: none;
}
@media (max-width: 768px) {
    .reviews__add.mobile {
        display: block;
        margin-top: 20px;
    }
}

.reviews__content__scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
    border-radius: 16px;
}
.reviews__content__scroll::-webkit-scrollbar-thumb {
    background-color: #eb3986;
    border-radius: 0px;
    cursor: grab;
}

.banner {
    background-color: #f5ddd8;
    padding: 24px 20px 80px;
    margin: 30px 0;
}
.banner__title {
    font-size: 28px;
    line-height: normal;
    color: #212529;
    font-family: "Futura PT Demi";
    text-align: center;
}
.banner__text {
    margin-top: 8px;
    font-size: 16px;
    line-height: normal;
    color: #212529;
    text-align: center;
}
.footer {
    position: relative;

}
@media(max-width: 1024px) {
    .footer {
        padding-bottom: 60px;
    }
}

.footer__content {
    border-top: 1px solid #000;
    padding: 44px 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5%;
}
@media(max-width: 1024px) {
    .footer__content {
        padding: 94px 20px 0;
    }
}
@media(max-width: 992px) {
    .footer__content {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

.footer__column {

}
.footer__column-title {
    font-size: 16px;
    line-height: normal;
    color: #191919;
    font-family: "Futura PT Demi";
}
@media(max-width: 992px) {
    .footer__column-title {
        text-align: center;
    }
}

.footer__column-list {
}
.footer__column-list a {
    font-size: 16px;
    line-height: normal;
    color: #191919;
    padding: 5px 0;
    display: block;
    font-family: 'Futura PT Book';
}
@media(max-width: 992px) {
    .footer__column-list a {
        text-align: center;
    }
}
.footer__column-list a:hover {
    text-decoration: underline;
}
.footer__socials {
    display: flex;
    align-items: center;
    gap: 20px;
}
@media(max-width: 1024px) {
    .footer__socials {
        position: absolute;
        top: 30px;
    }
}

.footer__socials a img {
    max-width: 32px;
}
.footer__rules {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__rules {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #797676;
    font-size: 15px;
    margin-bottom: 20px;
}
@media(max-width: 992px) {
    .footer__rules {
        justify-content: center;
    }
}
@media(max-width: 992px) {
    .footer__rules {
        flex-direction: column-reverse;
        gap: 15px;
        align-items: center;
    }
}

.footer__rules a {
    color: #797676;
    text-decoration: underline;
}
.btn-top {
    position: absolute;
    right: 40px;
    top: 30px;
    max-width: 50px;
    cursor: pointer;
    display: none !important;
}
@media(max-width: 1440px) {
    .btn-top {
        position: fixed;
        top: unset;
        bottom: 10px;
        right: 10px;
    }
}
@media(max-width: 1024px) {
    .btn-top {
        top: unset;
        bottom: 70px;
        right: 10px;
    }
}
.zoom-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.zoom-container img {
    transition: transform 0.2s ease-out;
}

.zoom-container:hover img {
    transform: scale(2); /* Увеличение изображения в 2 раза */
    cursor: zoom;
}
.overlay__white {
    background-color: #ffffff90;
    display: block;
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.popup__age {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    height: max-content;
    border: 1px solid #eb3986;
    border-radius: 16px;
    padding: 60px 25px;
    bottom: 0;
    background-color: #fff;
    transform: translateY(0);
    opacity: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@media(max-width: 992px) {
    .popup__age {
        max-width: 80%;
        padding: 30px 20px;
    }
}

.popup__age .popup__title {
    text-align: center;
    font-size: 30px;
}
@media(max-width: 768px) {
    .popup__age .popup__title {
        text-align: center;
        font-size: 22px;
    }
}

.popup__age .popup__subtitle {
    text-align: center;
    font-size: 20px;
    margin-top: 32px;
}
@media(max-width: 768px) {
    .popup__age .popup__subtitle {
        text-align: center;
        font-size: 18px;
        margin-top: 16px;
    }
}

.popup__age-step2 {
    display: none;
}
.popup__age-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
@media(max-width: 768px) {
    .popup__age-form {
        margin-top: 20px;
        gap: 10px;
    }
}


.popup__age-form input {
    border: 1px solid #797979;
    border-radius: 16px;
    padding: 8px 16px;
    font-size: 16px;
    pointer-events: all;
}
.popup__age-form input::placeholder {
    font-size: 12px;
}

.activate_btn,
.popup__age-btn {
    pointer-events: all;
    border-radius: 16px;
    padding: 9px 26px;
    font-size: 16px;
    color: #fff;
    background-color: #eb3986;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    max-width: 230px;
}
.activate_btn:hover,
.popup__age-btn:hover {
    background-color: #ac2a62;
}
.activate_btn {
    margin: 50px auto 0;
    font-size: 32px;
    display: block;
    font-size: 26px;
    max-width: 340px;
}
@media(max-width: 768px) {
    .activate_btn {
        margin: 40px auto 0;
        font-size: 20px;
    }
}
